<!-- <input placeholder="Enter username" (keyup)="showEvent($event)" /> -->
<!-- <input placeholder="Enter username" [(ngModel)]="name" #txtUsername /> -->
<!-- <h3 style="color: red">Your username is: {{ name }}</h3> -->
<!-- <h3 [style.color]="'red'">Your username is: {{ name }}</h3> -->
<!-- <code>{{ txtUsername.value | json }}</code> -->
<!-- <input placeholder="Enter username" [(ngModel)]="name" />
<h3 [style.color]="name.length % 2 === 0 ? 'red' : 'black'">
  Your name is: {{ name }}
</h3> -->
<div [class]="isTrue ? 'square' : 'circle'"></div>
